#link-input {
    color: var(--background-color-2);
}

#sampler-main-content {
    width: 100%;
    height: 60vh;
    color: black;
    padding: 10vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color-2);
}

#toggle-on-button {
    background-color: var(--background-color-1);
    width: 164px;
    height: 32px;
    color: white;
    border-style: hidden;
    padding: 0px var(--text-spacing);
    font-size: 28px;
    box-shadow: 0px 5px 4px var(--background-color-2);
}

#toggle-off-button {
    background-color: #5d5d5d;
    width: 164px;
    height: 32px;
    color: white;
    border-style: hidden;
    padding: 0px var(--text-spacing);
    font-size: 28px;
    box-shadow: inset 0px 1px 4px var(--background-color-2);
}

.left-toggle-button {
    border-radius: 20px 0px 0px 20px;
}

.right-toggle-button {
    border-radius: 0px 20px 20px 0px;
}

/*

MEDIA

*/

@media screen and (max-width: 660px),
            screen and (max-height: 660px) {
    #toggle-on-button {
        background-color: var(--background-color-1);
        width: 25vw;
        height: 7vh;
        color: white;
        border-style: hidden;
        padding: 0px var(--text-spacing);
        font-size: 28px;
        box-shadow: 0px 0px;
    }
    
    #toggle-off-button {
        background-color: #5d5d5d;
        width: 25vw;
        height: 7vh;
        color: white;
        border-style: hidden;
        padding: 0px var(--text-spacing);
        font-size: 28px;
    }
    
    .left-toggle-button {
        border-radius: 5px 0px 0px 5px;
    }
    
    .right-toggle-button {
        border-radius: 0px 5px 5px 0px;
    }
}