#main-content-mashup {
    width: 100%;
    height: 100vh;
    color: black;
    padding: 10vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color-2);
  }

#mashup-files-container {
    display: flex;
    align-items: center;
    justify-items: center;
}

.mashup-file {
    margin: var(--global-spacing);
}

.file-name {
    margin-top: 10px;
}

#mashup-component-container {
    margin-top: 10vh;
    height: 50vh;
    width: 80%;
}

#mashup-component {
    height: 35vh;
    width: 100%;
    margin-bottom: var(--global-spacing);
    display: flex;
    flex-direction: column;
}

.audio-wrapper {
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(3 * var(--global-spacing));
}

.audio-wrapper h1 {
    font-size: 16px;
    margin-bottom: var(--text-spacing);
}

.mashup-sounds {
    border-radius: 20px;
    width: 100%;
    color: white;
    background-color: var(--background-color-1);
    padding: var(--text-spacing);
    border-style: hidden;
    box-shadow: 0px 5px 4px black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} 

.mashup-sound {
    position: relative;
    height: 8vmax;
    width: 14vmax;
    line-height: 2em;
    background: white;
    color: var(--background-color-2);
    box-shadow: inset 0px 0px 5px var(--background-color-2);
    border-radius: 10px;
}

.toggle::after {
    content: '✓';
    font-size: 7vmax;
    color: green;
    position: absolute;
    bottom: 10px;
    left: 4vmax;
}

#controls-wrapper {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    background-color: var(--background-color-1);
    padding: var(--text-spacing);
    border-style: hidden;
    box-shadow: 0px 5px 4px black;
}

#controls-text-wrapper {
    display: flex;
    justify-content: flex-start;
}

#controls-text-wrapper input {
    color: var(--background-color-2);
    height: 24px;
}

#controls-wrapper .controls-play {
    background-image: url("../pics/play.png");
    width: 48px;
    height: 48px;
}

#controls-wrapper .controls-pause {
    background-image: url("../pics/pause.png");
    width: 48px;
    height: 48px;
}

#controls-wrapper #controls-download {
    background-image: url("../pics/download.png");
    width: 48px;
    height: 48px;
}