.App {
  background-color: #282c34;

}

.divvy {
  background-color: #282c34;
  padding-right: 10%;
  display: flex;
  justify-content: flex-end;
}

.navbutton {
  background-color: #9ed6e7;
  color: #fffaf0;
  margin-left: 50px;
  margin-top: 30px;
  border-radius: 28px;
  font-size: 160%;
  padding: .2em .4em;
  align-content: center;
}