#main-content-samplers {
    width: 100%;
    height: 100vh;
    min-height: 540px;
    color: black;
    padding: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color-2);
}

#main-content-samplers #title-area {
    padding: 0px;
    margin-bottom: 20px;
}

#samples {
    margin-bottom: var(--global-spacing);
}

.sample {
    width: 90vw;
    max-width: 800px;
    background: var(--background-color-1);
    border-radius: var(--global-spacing);
    padding: var(--text-spacing);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0px 5px 4px black;
}

.sample .sample-title {
    float: left;
    font-size: 32px;
    width: 110px;
}

.sample .sample-component {
    float: left;
    width: 116px;
    padding-left: var(--global-spacing);
    font-size: 24px;
}

.sample .sample-component {
    color: white;
}

.sample .sample-component .play-component {
    background-image: url("../pics/play.png");
    float: left;
    width: 48px;
    height: 48px;
}

.sample .sample-component .pause-component {
    background-image: url("../pics/pause.png");
    float: left;
    width: 48px;
    height: 48px;
}

.sample .sample-component .download-component {
    background-image: url("../pics/download.png");
    float: right;
    width: 48px;
    height: 48px;
}

/*

MEDIA

*/

@media screen and (max-width: 660px),
            screen and (max-height: 660px) {
    #main-content-samplers {
        width: 100%;
        height: 100vh;
        min-height: 100px;
        color: black;
        padding: 0px;
        padding-top: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--background-color-2);
    }

    #main-content-samplers #title-area {
        padding: 0px;
        margin-bottom: 0px;
    }

    #samples {
        margin-bottom: var(--global-spacing);
    }

    .sample {
        width: 90vw;
        background: var(--background-color-1);
        border-radius: 5px;
        padding: var(--text-spacing);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        box-shadow: 0px 0px
    }

    .sample .sample-title {
        font-size: 3vmax;
    }

    .sample .sample-component {
        float: left;
        font-size: 3vmax;
        width: 20vw;
        color: white;
    }

    .sample .sample-component .components-s {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .sample .sample-component .play-component {
        background-image: url("../pics/play.png");
        background-size: 4vmax;
        background-repeat: no-repeat;
        width: 4vmax;
        height: 4vmax;
    }

    .sample .sample-component .pause-component {
        background-image: url("../pics/pause.png");
        background-size: 4vmax;
        background-repeat: no-repeat;
        float: left;
        width: 4vmax;
        height: 4vmax;
    }

    .sample .sample-component .download-component {
        background-image: url("../pics/download.png");
        background-size: 4vmax;
        background-repeat: no-repeat;
        float: left;
        width: 4vmax;
        height: 4vmax;
    }
}