#main-content-samplers {
    width: 100%;
    height: 100vh;
    min-height: 540px;
    color: black;
    padding: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color-2);
}

#main-content-samplers #title-area {
    padding: 0px;
    margin-bottom: 20px;
}

#samples {
    margin-bottom: var(--global-spacing);
}

.sample {
    width: 100%;
    background: var(--background-color-1);
    border-radius: var(--global-spacing);
    padding: var(--text-spacing);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    box-shadow: 0px 5px 4px black;
}

.sample .sample-title {
    float: left;
    font-size: 32px;
    width: 200px;
}

.sample .sample-component {
    float: left;
    padding-left: var(--global-spacing);
    font-size: 24px;
}

.sample .sample-component {
    color: white;
}

.sample .sample-component .play-component {
    background-image: url("../pics/play.png");
    float: left;
    width: 48px;
    height: 48px;
}

.sample .sample-component .download-component {
    background-image: url("../pics/download.png");
    float: right;
    width: 48px;
    height: 48px;
}